/* リセットＣＳＳ */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*------------------- 全体の設定 -----------------------*/

#body0.open {
    overflow: hidden;
}

#body {
    position: relative;
    width: 100%;
    font-size: 16px;
    font-family: 'メイリオ', ' Meiryo', sans-serif;
    opacity: 0;
    animation: fadein .5s linear forwards;
    background-color: rgba(228, 77, 38, .8);
}


@keyframes fadein {
    100% {
        opacity: 1;
    }
}

#body.active {
    transition: all .5s;
}

#body.css-active {
    background-color: rgba(38, 77, 228, .8);
}

#body.javascript-active {
    background-color: rgba(247, 223, 30, .8);
}

#body.wordpress-active {
    background-color: rgba(70, 67, 66, .8);
}

#body.github-active {
    background-color: rgba(255, 255, 255, .8);
}

#bg1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-image: url(../img/background-pc1.svg);
    animation: loop 30s linear infinite;
    opacity: .4;
    z-index: -1;
}

@keyframes loop {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 1490px;
    }
}

#bg2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-image: url(../img/background-pc2.svg);
    animation: bgiLoop2 50s linear infinite;
    opacity: .4;
    z-index: -1;
}

@keyframes bgiLoop2 {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 1490px;
    }
}

#bg1.active,
#bg2.active {
    opacity: .7;
}

#bg1.active-g {
    background-image: url(../img/background-pc1-github.svg);
    opacity: .5;
}

#bg2.active-g {
    background-image: url(../img/background-pc2-github.svg);
    opacity: .5;
}

#html_title,
#css_title,
#javascript_title,
#wordpress_title,
#github_title {
    transition: all .3s 0s ease;
}

#html_title.active,
#css_title.active,
#javascript_title.active,
#wordpress_title.active,
#github_title.active {
    transform: translateZ(0) translateY(-3px) scale(1.1);
    font-weight: bold;
    transition: all .3s 0s ease;
    padding: 0 5px;
}

.wrapper {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

span {
    display: block;
}

img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

section {
    padding: 5px 20px;
}

.tag-1 {
    font-size: 2rem;
    font-size: 1.75rem;
    color: #FFFFFF;
    transition: all .5s;
}

.h2-title,
.h3-title,
.h4-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.h2-tag {
    color: #FFFFFF;
    font-size: 1.75rem;
    transition: all .5s;
}

.h2-text {
    padding: 0 10px;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.h3-tag {
    font-size: 1.25rem;
    color: #FFFFFF;
    transition: all .5s;
}

.h3-text {
    display: flex;
    padding: 0 10px;
    font-size: 1.25rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.p-tag,
.a-tag {
    color: #FFFFFF;
    transition: all .5s;
}

.p-text {
    line-height: 27px;
    padding-left: 30px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.div-tag {
    font-size: 1.5rem;
    color: #FFFFFF;
    transition: all .5s;
}

.div-tag.active {
    color: #000000
}

.a-tag {
    display: flex;
}

.a-text {
    padding: 0 10px;
    color: #000000;
    font-size: 1.125rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.section-tag-bottom {
    margin-top: auto;
    margin-bottom: 0;
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

/*------------------- ヘッダーＰＣサイズ -----------------------*/

.tag-body {
    margin-left: -20px
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    padding: 10px 20px;
}

header .title {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    margin: auto;
}

[data-aos^=fade][data-aos].title {
    transition-duration: 4s;
}

.title_h1_text {
    display: flex;
    color: #000;
    padding: 0 10px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.title_h1_text span {
    width: fit-content;
    padding: 0 10px;
    margin: 0 auto;
}

.title_h1_tag {
    color: #FFFFFF;
    font-size: 2.5rem;
    transition: all .5s;
}

@media screen and (max-width: 900px) {
    .title_h1_text {
        display: block;
    }

    .title_h1_text span:first-child {
        margin-bottom: 10px;
    }
}

/*------------------- メインＰＣサイズ -----------------------*/

main {
    padding: 0 20px;
    overflow: hidden;
}

.main-close {
    margin: 5px 0;
}

/*------------------- 自己紹介ＰＣサイズ -----------------------*/

.section-self-introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding: 10px 20px 5px;
}

.self-introduction-box {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 150px 40px;
}

.self-introduction_text {
    max-width: 600px;
    margin: 0 auto;
}

/*------------------- 対応可能言語・スキルＰＣサイズ -----------------------*/

.section-language {
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.language-element-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.section-language .h2-title {
    margin-top: 60px;
}

.swiper-box {
    position: relative;
    width: 100%;
    max-width: 832px;
    margin: 0 auto;
}

.div-tag,
.div-tag-bottom {
    position: absolute;
    top: -22px;
}

.div-tag-bottom {
    top: auto;
    bottom: 19px;
}

.swiper-container-parent {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 400px;
    max-width: 720px;
    aspect-ratio: 700/400;
    padding-bottom: 46px;
    margin: 0 auto;
}

.variations_img {
    width: 100%;
    max-width: 320px;
    padding: 20px;
    aspect-ratio: 1/1;
    margin: auto;
}

.variations_img img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));
}

.swiper-container-parent .swiper-pagination_variations {
    position: absolute;
    width: 255px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    z-index: 10;
}

.section-language .swiper-container-parent .swiper-pagination-bullet {
    width: 35px;
    height: 35px;
    margin: 0 8px;
    transition: all .5s;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.6));
    opacity: 1;
}

.swiper-pagination-bullet:nth-child(1) {
    background-color: #E44D26;
}

.swiper-pagination-bullet:nth-child(2) {
    background-color: #264DE4;
}

.swiper-pagination-bullet:nth-child(3) {
    background-color: #F7DF1E;
}

.swiper-pagination-bullet:nth-child(4) {
    background-color: #464342;
}

.swiper-pagination-bullet:nth-child(5) {
    background-color: #FFFFFF;
}

.swiper-pagination-bullet-active {
    transform: scale(1.2);
    transition: all .5s 0s ease;
}

.tag-button,
.tag-button2 {
    position: absolute;
    left: calc(50% + -231px);
    bottom: -10px;
    font-size: 1.25rem;
    color: #FFFFFF;
    transition: all .5s 0s ease;
}

.tag-button2 {
    left: calc(50% + 133px);
}

.swiper-img-text {
    font-size: 1.5rem;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    border-radius: 20px;
}

/*------------------- サンプルサイトＰＣサイズ -----------------------*/

.section-website-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

.website-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1000px;
    margin: 60px auto 0;
}

.website-box {
    margin-bottom: 40px;
}

.website-box-img {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 400/200;
    margin: 5px 0 10px;
    box-shadow: 0px 3px 3px 0px #000000;
    cursor: pointer;
    overflow: hidden;
}

.website-box-img img {
    transition: all .3s;
}

.website-box-img img:hover {
    transition: all .3s;
    filter: blur(3px) brightness(130%);
}

.website-box-wrapper:first-child {
    margin-right: 20px;
}

/*サイト詳細のモーダルウィンドウ*/

.website-modal-container {
    position: fixed;
    inset: 0;
    margin: auto;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    padding: 20px;
    background-color: rgb(0, 0, 0, .3);
    visibility: hidden;
    overflow-y: auto;
    opacity: 0;
    transition: all .5s;
}

.website-modal-container.open {
    opacity: 1;
    visibility: visible;
    transition: all .5s;
}

.website-modal-box {
    width: 100%;
    max-width: 1000px;
    padding: 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .9);
    margin: auto;
}

.website-modal_return-text {
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 12px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.website-modal_title {
    text-align: center;
}

.website-modal_subtitle {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.website-modal_subtitle p {
    margin-top: 15px;
    font-weight: normal;
}

.website-modal_textbox {
    padding-left: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 415px;
}

.website-modal_textbox p {
    padding-left: 0;
}

.basic-textbox {
    padding-left: 0;
    margin-top: 20px;
}

.basic-strong {
    text-align: center;
    font-weight: bold;
    color: #ff0000;
}

.basic-textbox ul {
    margin-top: 10px;
    text-align: center;
}

.website-modal_button {
    display: block;
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 50px auto 26px;
    border-radius: 10px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.6));
    transition: all .3s;
}

.website-modal_button:hover {
    color: #FFFFFF;
    background-color: #000000;
    transition: all .3s;
}

/*------------------- 対応可能時間ＰＣサイズ -----------------------*/

.schedule-inner {
    margin: 60px 0;
}

.schedule-box {
    width: fit-content;
    margin: 0 auto;
}

.li-container {
    padding: 5px 0;
    padding-left: 20px;
}

/*------------------- フッターＰＣサイズ -----------------------*/

footer {
    padding: 5px 20px 10px;
}

.footer-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}


@media screen and (max-width: 768px) {

    /*------------------- 全体の設定SP -----------------------*/

    #bg1 {
        background-image: url(../img/background-sp1.svg);
    }

    #bg2 {
        background-image: url(../img/background-sp2.svg);
    }

    #bg1.active-g {
        background-image: url(../img/background-sp1-github.svg);
        opacity: .5;
    }

    #bg2.active-g {
        background-image: url(../img/background-sp2-github.svg);
        opacity: .5;
    }

    .h2-title,
    .h3-title,
    .h4-title {
        margin-bottom: 35px;
    }

    .tag-1 {
        font-size: calc(16px + 12 * (100vw - 320px)/448);
    }

    .h2-tag {
        font-size: calc(18px + 10 * (100vw - 320px)/448);
    }

    .h2-text {
        font-size: calc(18px + 14 * (100vw - 320px)/448);
    }

    .h3-tag {
        font-size: calc(16px + 4 * (100vw - 320px)/448);
    }

    .h3-text {
        font-size: calc(14px + 6 * (100vw - 320px)/448);
    }

    .p-tag,
    .a-tag {
        font-size: .875rem;
    }

    .p-text {
        padding-left: 20px;
        font-size: calc(14px + 2 * (100vw - 320px)/448)
    }

    .div-tag {
        font-size: calc(16px + 8 * (100vw - 320px)/448);
    }

    .tag-button,
    .tag-button2 {
        font-size: calc(14px + 6 * (100vw - 320px)/448);
        bottom: -43px;
    }

    .a-text {
        font-size: 1rem;
    }

    .swiper-img-text {
        font-size: calc(18px + 6 * (100vw - 320px)/448);
    }

    /*------------------- ヘッダーSP -----------------------*/

    header {
        padding: 10px;
    }

    .tag-body {
        margin-left: -10px
    }

    [data-aos^=fade][data-aos].title {
        writing-mode: vertical-rl;
    }

    .title_h1_tag {
        font-size: calc(24px + 12 * (100vw - 320px)/448);
    }

    .title_h1_text {
        display: flex;
        flex-wrap: wrap;
        font-size: calc(36px + 12 * (100vw - 320px)/448);
    }

    .title_h1_text span {
        padding: 0px 0 10px;
    }

    .title_h1_text span:first-child {
        padding: 0px 0 10px;
        margin-bottom: 0;
    }

    @media (max-height:840px) {
        .title_h1_text {
            height: calc(325px + 50 * (100vw - 320px)/448);
        }

        .title_h1_text span {
            padding: 0px 0 10px;
            margin: 170px 8px 0;
        }

        .title_h1_text span:first-child {
            margin-top: 10px;
        }
    }

    @media (max-height:730px) {
        [data-aos^=fade][data-aos].title {
            writing-mode: horizontal-tb;
        }

        .title_h1_text {
            display: block;
            height: auto;
        }

        .title_h1_text span {
            text-align: center;
            padding: 0px 0 10px;
            margin: 0 auto;
            height: fit-content;
        }
    }

    @media (max-height:730px) and (max-width: 600px) {
        header .title {
            flex-direction: column;
        }

        .title_h1_text {
            padding: 10px;
        }
    }

    /*------------------- メインＳＰサイズ -----------------------*/

    main {
        padding: 0 10px;
    }

    /*------------------- 自己紹介ＳＰサイズ -----------------------*/

    .section-self-introduction {
        padding: 10px 10px 5px;
    }

    .self-introduction-box {
        padding: 100px 20px;
    }

    .self-introduction_text {
        max-width: 500px;
        padding-right: 10px;
    }

    /*------------------- 対応可能言語・スキルＳＰサイズ -----------------------*/

    .section-language {
        padding: 5px 10px;
        height: auto;
    }

    .language-element-box {
        margin: 100px auto 140px;
    }

    .h3-text {
        flex-wrap: wrap;
        padding: 0 5px;
    }

    .swiper-container-parent .swiper-pagination_variations {
        width: 30%;
        width: 230px;
        bottom: -50px;
    }

    .variations_img {
        padding: 10px;
    }

    .section-language .swiper-container-parent .swiper-pagination-bullet {
        width: 30px;
        height: 30px;
    }


    @media screen and (max-width: 550px) {

        .h3-title {
            width: calc(280px + 45 * (100vw - 320px)/230);
            max-width: 325px;
            margin: 0 auto 35px;
        }

        .h3-text {
            line-height: 20px;
        }

        .tag-button,
        .tag-button2 {
            left: 0;
            bottom: -10px;
        }

        .tag-button2 {
            bottom: -74px;
        }
    }


    /*------------------- サンプルサイトＳＰサイズ -----------------------*/

    .section-website {
        padding: 5px 10px;
    }

    .website-container {
        flex-direction: column;
        align-items: center;
        justify-content: initial;
    }

    .website-box-wrapper:first-child {
        margin-right: 0;
    }

    .website-box {
        margin-bottom: 80px;
    }

    .website-modal_subtitle {
        margin-top: 40px;
        font-size: calc(16px + 8 * (100vw - 320px)/448);
    }
}